---
pageable: true
per_page: 100
layout: index
title: Recent articles
---

<div class="container-breadcrumb">
  <div class="container ">
        <div class="row">
          <div class="col-md-12">

          <ol class="breadcrumb small">
            <li><%= link_to "Home", "/" %></li>
            <li class="active"><%= current_page.data.title %></li>
          </ol>

          </div>
        </div>
  </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Recent articles</h1>

      <section class="articles section">
            <ul class="list-unstyled list-articles">
              <% blog().articles.each do |article| %>
              <li>
                <a href="<%= article.url %>"><%= article.title %></a> - <time><%= article.date.strftime('%e %B %Y') %></time>
              </li>
              <% end %>
            </ul>
          </section>

         

    </div>

    <div class="col-md-7">
     <p>You can also find out more about how we think about our work from our founder on <%= link_to "their personal blog", "https://grillopress.github.io/"%> </p> 
     <p>Some blog posts we share with teams regularly are:</p>
     <ul>
       <li><%= link_to "Choosing what discovery to go forward with", "" %></li>
       <li><%= link_to "Win the space to design services", "" %></li>
       <li><%= link_to "Make [your discoveries] about a decision", "" %></li>
       <li><%= link_to "Advice for aspiring junior UX designers", "" %></li>
       <li><%= link_to "Hypothesis driven design", "" %></li>
     </ul>
    </div>
    


  </div>
</div>

<div class="container container-marketing">
    <div class="row">
      <div class="col-md-6">
        <section class="section">
          <h2 class="h4">Get in touch</h2>
          <p>If you're interested in working with us or want to hear more about us, our teams or our work, fill in the form using the button and we'll get back to you</p>
          <p><a class="btn btn-primary" href="https://forms.gle/Ssz4tNUnJSkAgVQR6">Get in touch</a></p>
        </section>
      </div>
    </div>
  </div>