---
pageable: true
per_page: 100
layout: index
title: Services
---

<main role="main">

<div class="container-breadcrumb">
  <div class="container ">
        <div class="row">
          <div class="col-md-12">

          <ol class="breadcrumb small">
            <li><%= link_to "Home", "/" %></li>
            <li class="active"><%= current_page.data.title %></li>
          </ol>

          </div>
        </div>
  </div>
  </div>
  

  <div class="container container-marketing">
    <div class="row">
      <div class="col-md-8">
        <h1>Services</h1>
        <p class="lead">Make your product or services better. Meet your users' needs. Reach your business goals.</p>
        <p>At duckworth.design we can help you do those things. Through hands-on work, consulting and training we do:</p>
        <ul>
          <li>
            <%= link_to "Service and product design", "#serviceDesign" %>
          </li>
          <li>
            <%= link_to "User research and insights", "#userResearch" %>
          </li>
          <li>
            <%= link_to "Web design and development", "#webDev" %>
          </li>
          <li>
            <%= link_to "Product management and strategy", "#productManagement" %>
          </li>
          <li>
             <%= link_to "Coaching, training and skill development", "#coaching" %>
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="container-row--grey" id="serviceDesign">
  <div class="container container-marketing">
    <div class="row">
      <div class="col-md-8">
        <h2 class="">Service and product design</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-md-push-7">
        <%= image_tag 'images/aesNQ7D01.svg', class: "img-responsive img-cartoon", alt: "Small duck with a sticky note and pen" %>
      </div>
      <div class="col-md-7 col-md-pull-5">
        <p>We have deep experience in service and product design. Whether you're a large organisation or small. A start-up or charity. A government organisation or not we can help you unlock and deliver your future service or product strategy.</p>
        <p>We can partner with you to:</p>
        <ul>
          <li>design your product or service</li>
          <li>evaluate what's going on. Where you are and what to do next</li>
          <li>grow and develop your existing service or product design function</li>
          <li>improve how things are working today</li>
          <li>establish or grow your design function</li>
        </ul>
        <p>Our teams have designed products and services including health apps, SaaS products, national sexual health services, COVID-19 testing services, websites, complex data platforms, ecommerce platforms, design systems and everything between.</p>
        <p>Whether you need support on service design, blueprinting, prototyping or collaborating on new features, our offering can help you make your service or product a success.</p>
        <p><a href="https://forms.gle/Ssz4tNUnJSkAgVQR6">Get in touch through our form</a> or by <a href="mailto:contact@duckworth.design">email</a> to talk about a service or product design project today.</p>
      </div>    
    </div>
  </div>
</div>

<div class="container-row--white" id="userResearch">
  <div class="container container-marketing">
    <div class="row">
      <div class="col-md-8">
        <h2 class="">User research and insights</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-md-push-7">
        <%= image_tag 'images/ZpCPfXH01.svg', class: "img-responsive img-cartoon", alt: "Small duck with a sticky note and pen" %>
      </div>
      <div class="col-md-7 col-md-pull-5">
        <p>User research is the foundation of great product and service design. We offer a comprehensive user research offering to our clients, designed to help them understand the needs, behaviors, and motivations of the people they're designing for.</p>
        <p>Our user research offering includes a range of methods and techniques, including usability testing, codesign workshops, surveys, and interviews. We use these tools to gather valuable insights that inform the design of your products and services, ensuring that they meet the needs and expectations of their users.</p>
        <p>Whether you're looking to design a new product or service, or improve an existing one, our user research offering can help you make informed decisions that lead to successful outcomes.</p>
        <p><a href="https://forms.gle/Ssz4tNUnJSkAgVQR6">Get in touch through our form</a> or by <a href="mailto:contact@duckworth.design">email</a> to talk about a research project today.</p>
      </div>    
    </div>
  </div>
</div>

<div class="container-row--grey" id="webDev">
  <div class="container container-marketing">
    <div class="row">
      <div class="col-md-8">
        <h2 class="">Web development and design</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-md-push-7">
        <%= image_tag 'images/QJPG4ls01.svg', class: "img-responsive img-cartoon", alt: "Small duck with a sticky note and pen" %>
      </div>
      <div class="col-md-7 col-md-pull-5">
        <p>Our team of experienced web developers and designers work closely with you and your team to understand your business goals, target audience, and design needs. We then use this information to create the right product and services to meet your needs.</p>
        <p>Our web development and design offering includes a range of services, including accessibility reviews, web design, content management system (CMS) integration, e-commerce development and app design.</p>
        <p><a href="https://forms.gle/Ssz4tNUnJSkAgVQR6">Get in touch through our form</a> or by <a href="mailto:contact@duckworth.design">email</a> to talk about a website or app today.</p>
      </div>    
    </div>
  </div>
</div>


<div class="container-row--white" id="productManagement">
  <div class="container container-marketing">
    <div class="row">
      <div class="col-md-8">
        <h2 class="">Product management and strategy</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-md-push-7">
        <%= image_tag 'images/6T8Wctz01.svg', class: "img-responsive img-cartoon", alt: "Small duck with a sticky note and pen" %>
      </div>
      <div class="col-md-7 col-md-pull-5">
        <p>Our product management and strategy offering helps clients bring new products to market and drive growth for their business. Our team of product experts work closely with clients to understand their business goals, target market, and competitive landscape. We use this information to develop a product roadmap that outlines a clear vision and strategy for the product.</p>
        <p>We also help clients establish product metrics and performance tracking systems to ensure that their products are meeting their desired goals.</p>
        <p>Whether you're looking to launch a new product or grow an existing one, our product management and strategy offering can help you achieve success.</p>
        <p><a href="https://forms.gle/Ssz4tNUnJSkAgVQR6">Get in touch through our form</a> or by <a href="mailto:contact@duckworth.design">email</a> to talk about your product today.</p>
      </div>    
    </div>
  </div>
</div>

<div class="container-row--grey" id="coaching">
  <div class="container container-marketing">
    <div class="row">
      <div class="col-md-8">
        <h2 class="">Coaching, training and skill development</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-md-push-7">
        <%= image_tag 'images/sggZy9701.svg', class: "img-responsive img-cartoon", alt: "Small duck with a sticky note and pen" %>
      </div>
      <div class="col-md-7 col-md-pull-5">
        <p>We offer a range of training and coaching services to help clients build the skills and knowledge they need to succeed. Our training and coaching offering includes:</p>
        <ul>
          <li>1 to 1 coaching for practicitoners, design leaders and consultants</li>
          <li>starter courses in product and service design, user research and product management</li>
          <li>bespoke courses and training for your teams</li>
          <li>design function and community development</li>
        </ul>
        <p>All our courses can be delivered online or in-person</p>
        <p><a href="https://forms.gle/Ssz4tNUnJSkAgVQR6">Get in touch through our form</a> or by <a href="mailto:contact@duckworth.design">email</a> to talk about how we can help you and your team grow and succeed.</p>
      </div>    
    </div>
  </div>
</div>



  </div>
</div>





  <div class="container container-marketing">

    <div class="row">
      <div class="col-md-6">
        <section class="section">
          <h2 class="">Get in touch</h2>
          <p>If you're interested in working with us or want to hear more about us, our teams or our work, fill in the form using the button and we'll get back to you</p>
          <p><a class="btn btn-primary" href="https://forms.gle/Ssz4tNUnJSkAgVQR6">Get in touch</a></p>
        </section>
      </div>
    </div>

    </div>

    
    
  </div>
</main>